<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_new"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidProject">
        <activity
            android:name=".ChatRoomClass"
            android:exported="true" />
        <activity
            android:name=".AssignmentPointStatistic"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateQuestion_UsingInputFile"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditQuestionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".Detail_Item_Library_Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:screenOrientation="portrait"
                android:value="com.example.androidproject.MainActivity" />
        </activity>
        <activity
            android:name=".CreateAssignment"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".CreateQuestion"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".CreateQuestionSetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Assignment_Window"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Assignment_Question"
            android:exported="true"
            android:parentActivityName=".Assignment_Window"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainGroupActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>